.form-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  font-style: bold;
  margin-bottom: 20px;
}
.form-item label,
.form-item input {
  width: 100%;
  border: none;
}
.form-item label {
  font-size: 14px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-bottom: 0px;
}
.form-item input {
  font-size: 16px;
  background-color: white;
}

.form-item input:focus {
  outline: none;
}
.form-item-filled label {
  opacity: 1;
  color: rgb(137, 139, 155);
}
.form-item-focus label {
  color: #722872;
}
